{% load widgets %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}
    <h2 class="legend" id="{{ fieldset.name|to_id }}">{{ fieldset.name }}
        {% if fieldset.description %}
        <span class="description">{{ fieldset.description|safe }}</span>
        {% endif %}
    </h2>
    
    {% endif %}
    {% for line in fieldset %}
    <div
        class="form-columns{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if field.field.is_hidden %} field-hidden{% endif %}{% endfor %}">
        {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
        
        {% for field in line %}
        <div{% if not line.fields|length_is:'1' %}
            class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"
            {% elif field.is_checkbox %} class="checkbox-row" {% endif %}>
            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                {% if field.is_checkbox %}
                    {{ field.field }}{{ field.label_tag }}
                {% else %}
                    {% if field.field.is_hidden %}
                        {{ field.field }}
                    {% else %}
                        {{ field.label_tag}}
                    {% if field.is_readonly %}
                    <p id="id_{{field.field.name}}" >{{ field.contents|linebreaksbr }}</p>
                    {% else %}
                        {% if field.field|is_select %}
                            {{ field.field|addcls:"form-control" }}
                        {% elif field.field|is_file %}
                            {{ field.field|addcls:"" }}
                        {% else %}
                            {% if field.field.name == "password" %}
                                {{ field.field}}
                            {% else %}
                                {{ field.field|addcls:"form-control" }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if field.field.help_text %}
            <p class="help">{{ field.field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</fieldset>