{% load i18n static widgets %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
    <link href="{% static 'page' %}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<style type="text/css">
    
	    hr.style14 { 
	        border: 0; 
	        height: 1px; 
	        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	      }
	    * {
	      font-family: "Open Sans", Helvetica, Arial, sans-serif;
	    }
		body {
	        width: 100%;
	        height: 100%;
	        margin: 0;
	        padding: 0;
	        background-color: #FAFAFA;
	        font: 12pt "Open Sans";
	        font-family: "Open Sans", Helvetica, Arial, sans-serif;
	    }
	    * {
	        box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    .page {
	        width: 21.5cm;
	        min-height: 29.7cm;
	        padding: 5mm;
	        margin: 5mm auto;
	        border: 1px #D3D3D3 solid;
	        border-radius: 5px;
	        background: white;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	    }
	    .subpage {
	        padding: 50px 30px 30px 50px;
	        /* border: 5px red solid; */
	        height: 350mm;
	        /*outline: 2cm #FFEAEA solid;*/
	    }
	    @-moz-document url-prefix() {
	        .subpage {
	            height:  378mm;
	        }
	    }   
	    @page {
	        size: A4;
	        margin: 0;
	    }
	    @media print {
	        html, body {
	            width: 210mm;
	            height: 297mm;        
	        }
	        .page {
	            margin: 0;
	            border: initial;
	            border-radius: initial;
	            width: initial;
	            min-height: initial;
	            box-shadow: initial;
	            background: initial;
	            page-break-after: always;
	        }
	    }

	    /*.title, .tabel{
			border-bottom: 1px solid #7d7d7d;
	    }
	    .title h3{
	    	margin-top: 0px;
	    }
	    .tabel{
	    	padding-top: 0px;
	    	padding-bottom: 10px;
	    }

	    table {
	        border-collapse: collapse;
		}*/

		.ceklist {
		    border: 1px solid black;
		}
	    .font {
	        font-size: 12px;
	        font-family: "Open Sans", Helvetica, Arial, sans-serif;
	    }
	    #print-modal {
	        margin: 0 0 0 -393px;
	    }
	    .style2 {
			margin-top: 15px;
			margin-bottom: 5px;
			border-top: 3px double #8c8b8b;
		}
		.button {
		    background-color: #4CAF50; /* Green */
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    border-radius: 8px;
		    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
		.button-close {
		    background-color: #f32818; /* Green */
		    border: none;
		    color: white;
		    padding: 15px 32px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
		    border-radius: 8px;
		    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
		@media print {
		  .hidden-print {
		    display: none !important;
		  }
		}
		#qrcodeTable canvas{
			padding: 2px;
			border-radius: 3px;
			border: 3px solid #000;
			/*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
			width: 90px;
			height: 90px;
		}
/*		th, td {
		    padding: 5px;
		}*/
	</style>
</head>
<body id="body">
	<div style="padding: 240px 0 0 30px; height: 140px; width: 150px;position:fixed;left:0;top:0">
		<a class="button hidden-print" onclick="window.print()" href="#" style="margin-bottom: 10px;">
			<i class="fas fa-print fa-1x"></i>
		</a>
		<br>
		<a class="button-close hidden-print" href="javascript:if(confirm('Close window?'))window.close()" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);">
            <i class="fas fa-times fa-1x"></i>
		</a>
	</div>
	<div class="book">
	    <div class="page">
            <div class="subpage">
				<h3 style="text-align: center; text-transform: uppercase;">
					SURAT PERNYATAAN<br>
					BERSEDIA MENGIKUTI KEGIATAN PEMBELAJARAN</br>
					PROGRAM PENDIDIKAN KESETARAAN BAGI ANAK PUTUS SEKOLAH<br>
					DI WILAYAH KECAMATAN {{kecamatan}}
				</h3>
				<div style="margin-top: 60px;"></div>
				<h4>Saya yang bertanda tangan di bawah ini :</h4>
				<table class="table">
					<tr>
						<td style="vertical-align: top; width: 25%">Nama</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{{obj.nama}}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">NIK</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{{obj.nomor_nik}}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">Tempat, Tanggal Lahir</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{{obj.tempat_lahir}}, {{obj.tanggal_lahir|date:"d F Y"}}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">Alamat Lengkap</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{% if obj.desa_domisili %}{{obj.get_alamat_lengkap_domisili}}{% elif obj.desa %}{{obj.get_alamat_lengkap}}{% else %}{{obj.alamat_lengkap}}{% endif %}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">Nama Orangtua / Wali</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{{obj.nama_ayah}}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">No. HP Aktif</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{{obj.nomor_hp|format_hp}}</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">Riwayat Pendidikan</td>
						<td style="vertical-align: top;">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
						<td>{% if "Drop Out" in obj.get_pendidikan_terakhir_display %}{{ obj.get_pendidikan_terakhir_display }} {{obj.kelas}}{% else %}{{obj.get_pendidikan_terakhir_display}}{% endif %}</td>
					</tr>
				</table>
				<h4>Dengan ini menyatakan :</h4>
				<ol style="padding-inline-start: 17px;">
					<li style="padding-bottom: 5px; text-align: justify;">Bahwa saya sebagai Anak Putus Sekolah, benar-benar ingin melanjutkan dan menuntaskan Pendidikan Sekolah saya.</li>
					<li style="padding-bottom: 5px; text-align: justify;">Bahwa saya bersedia melengkapi data dan dokumen persyaratan yang dibutuhkan untuk dapat diikutkan sebagai Peserta Belajar.</li>
					<li style="text-align: justify;">Bahwa saya bersedia untuk mengikuti semua kegiatan pembelajaran sesuai dengan program yang telah ditentukan dan mematuhi peraturan dan Tata Tertib, dan semua peraturan lain yang ditetapkan oleh Lembaga Penyelenggara Pendidikan.</li>
				</ol>
				<p>Demikian Surat Pernyataan ini saya buat dalam keadaan sadar serta penuh tanggung jawab dan untuk dipergunakan sebagaimana mestinya.</p>
				<div style="display: flex; justify-content: end; margin-top: 30px">
					<table style="text-align: center;">
						<tr>
						<td>Kediri, {% now "d F Y" %}</td>
					</tr>
					<tr>
						<td style="font-weight: bold;">Calon Peserta Belajar</td>
					</tr>
					<tr>
						<td style="height: 100px">&nbsp;</td>
					</tr>
					<tr>
						<td>{{obj.nama|title}}</td>
					</tr>
				</table>
			</div>
            </div>
	    </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		function Exit() {
		    var x=confirm('Are You sure want to exit:');
		    if(x) window.close();
	    }
	</script>
</body>
</html>