{% extends 'admin/change_list.html' %}

{% block search %}{% endblock %}
{% block filters %}{% endblock filters %}

{% block extra-tools %}
<form method="GET">
	<div class="card mb-3">
		<div class="card-body p-3">
			<div class="row">
				<div class="col-md-12 mb-3">
					<input type="text" name="q" class="form-control" placeholder="Cari" value="{{ request.GET.q }}">
				</div>
				<div class="col-md-12 i-select-filter">
					{% with filter_spec=cl.filter_specs.0 %}
					{% include "admin/includes/filters.html" %}
					{% endwith %}
				</div>
			</div>
		</div>
		<div class="card-footer p-3 text-right">
			<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-search mr-2"></i>Saring</button>
		</div>
	</div>
</form>
{% endblock %}

{% block actions %}
{% if show_add %}
{{ block.super }}
{% endif %}
{% endblock actions %}
{% block custom_style %}
{{ block.super }}
<style>
    .select2-container .select2-selection--single {
        height: 40px;
        margin-left: 10px;
	}
    .i-select-filter .select2-container .select2-selection--single {
        margin-left: unset !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 35px;
	}
	.select2-container .select2-selection--single .select2-selection__rendered {
		padding-top: 5px;
	}
</style>
{% endblock custom_style %}
{% block custom_js %}
{{ block.super }}
<script>
    const getSekolah = () => {
        $.ajax({
            url:`{% url 'admin:master_sekolah_json' %}`,
            type:"GET",
            success:function(respon){
            if(respon.success){
                html = `<option readonly value="">Pilih Sekolah</option>`
                for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
                }
                $("select#id_sekolah").html(html).select2({
                width: 'resolve'
                })
            }else{
                console.log(respon.pesan)
            }
            }
        })
    }
    $(function(){
        $(".i-select-filter select").select2({width: 'resolve'})
        $('.actions select').on("change", function(){
            if ($(this).val() == "tolak_act"){
                if($("#id_keterangan_tolak").length == 0){
                    $(this).next().before('<input class="form-control" style="margin-left: 10px" type="text" name="keterangan_tolak" id="id_keterangan_tolak" placeholder="Isikan Keterangan Tolak">')
                }
            }else{
                $("#id_keterangan_tolak").remove()
                $("#id_sekolah").remove()

            }
            if ($(this).val() == "setsekolah_act"){
                if($("#id_sekolah").length == 0 && $("#id_paket").length == 0){
                    html_paket = "<option readonly value >Pilih Paket</option>"
                    {% for item in paket %}
                    html_paket += `<option value="{{item.0}}">{{item.1}}</option>`
                    {% endfor %}
                    {% if admin_sekolah %}
                    $(this).next().before(`
                    <input type="hidden" value="{{request.user.adminsekolah.sekolah.id}}" name="sekolah" id="id_sekolah"></input>
                    <select class="form-control" style="margin-left: 10px" name="paket" id="id_paket">${html_paket}</select>
                    `)
                    {% else %}
                    $(this).next().before(`
                    <select class="form-control" style="margin-left: 10px; width: 100%" name="sekolah" id="id_sekolah"></select>
                    <select class="form-control" style="margin-left: 10px" name="paket" id="id_paket">${html_paket}</select>
                    `)
                    getSekolah()
                    {% endif %}
                }
            }else{
                $("#id_sekolah").remove()
                $("#id_paket").remove()
            }
        });
    })
</script>
{% endblock custom_js %}