{% extends 'admin/change_form.html' %}

{% load widgets %}

{% block custom_style %}
{{ block.super }}
<style>
  .table thead th{
    font-size: 10pt;
    padding: 0.5rem;
  }
  .table tbody td{
    font-size: 10pt;
    padding: 0.5rem;
  }
  .fb-profile{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    background-color: white;
}
hr{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
</style>
{% endblock custom_style %}

{% block extra_content %}
{% if show_riwayat %}
<div class="card mt-3">
  <div class="card-header">
    <h5 class="card-title">Riwayat Pengajuan {{original.nomor_aduan}}</h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Keterangan</th>
          <th>Dibuat Pada</th>
          <th>Dibuat Oleh</th>
        </tr>
      </thead>
      <tbody>
        {% for i in riwayat_qs %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.keterangan|title}}</td>
          <td>{{i.created_at}}</td>
          <td>{{i.created_by.nama_lengkap|default_if_none:"-"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script>
    const getKecamatan = (domisili=null) =>{
        $.ajax({
          url:`{% url 'admin:master_kecamatan_json' %}`,
          type:"GET",
          success:function(respon){
            html = `<option readonly value="">Pilih Kecamatan</option>`
            for(i=0; i<respon.data.length; i++){
              html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
            }
            $("select#id_kecamatan").html(html).prop("disabled",false).select2({
              width: 'resolve'
            })
            if(domisili){
              $("select#id_kecamatan_domisili").html(html).prop("disabled",false).select2({
                width: 'resolve'
              })
            }else{
              $("select#id_kecamatan").html(html).prop("disabled",false).select2({
                width: 'resolve'
              })
            }
          }
        })
      }
      const getDesa = (elemen, domisili=null) => {
        kecamatan_kode = elemen.val()
        $.ajax({
          url:`{% url 'admin:master_desa_json' %}?kode_kecamatan=${kecamatan_kode}`,
          type:"GET",
          success:function(respon){
            if(respon.success){
              html = `<option readonly value="">Pilih Desa</option>`
              for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              if(domisili){
                $("select#id_desa_domisili").html(html).prop("disabled",false).select2({
                  width: 'resolve'
                })
              }else{
                $("select#id_desa").html(html).prop("disabled",false).select2({
                  width: 'resolve'
                })
              }
            }else{
              console.log(respon.pesan)
            }
          }
        })
      }
      const getKelas = (val) => {
        $.ajax({
          url:`{% url 'admin:master_kelas_json' %}?jenjang=${val}`,
          type:"GET",
          success:function(respon){
            if(respon.success){
              $(".field-kelas").show()
              html = `<option readonly value="">Pilih Kelas</option>`
              for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              $("select#id_kelas").html(html).select2({
                width: 'resolve'
              })
            }else{
              $(".field-kelas").hide()
            }
          }
        })
      }
    // dateString format = 1999-07-07
    const getAge = (dateString) => { 
        var today = new Date();
        var birthDate = new Date(dateString);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age;
    }
    const getSekolah = (kecamatan) => {
      $.ajax({
          url:`{% url 'admin:master_sekolah_json' %}?kecamatan=${kecamatan}`,
          type:"GET",
          success:function(respon){
          if(respon.success){
              html = `<option readonly value="">Pilih Sekolah</option>`
              for(i=0; i<respon.data.length; i++){
              html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              $("select#id_sekolah_tujuan").html(html).select2({
              width: 'resolve'
              })
          }else{
              console.log(respon.pesan)
          }
          }
      })
    }
    $("select#id_pendidikan_terakhir").on('change',function(){
      select = $("#id_pendidikan_terakhir option:selected").text();
      if(select.includes("Drop Out")){
        $(".field-keterangan").show()
      }else{
        $(".field-keterangan").hide()
      }
    })
    $("select#id_sekolah_tujuan").on('change',function(){
      if($(this).val() != ""){
        $.ajax({
          url:"{% url 'admin:master_sekolah_json_frontend' %}",
          data:{
              pk:$(this).val()
          },
          beforeSend:function(){
  
          },
          success:function(res){
              if(Object.keys(res).length){
                  Object.keys(res).map((item)=>{
                    if(item == "nomor_hp"){
                      $("#"+item).attr('href',res[item])
                    }else if(item == "profile"){
                      console.log(item)
                      Object.keys(res.profile).map((item_prof)=>{
                        $("#"+item_prof).html(res.profile[item_prof])
                      });
                    }else{ 
                      $("#"+item).html(res[item])
                    }
                  });
                  $("#identitas_pkbm_profil").show()
              }else{
                  $("#identitas_pkbm_profil").hide()
              }
          },
          complete: function(){
          }
      })  
      }
    })
    $(function(){
        getKecamatan()
        getKecamatan("domisili")
        $(".field-kelas").hide()
        $(".field-keterangan").hide()
        $(".field-alasan").show()
        $(".field-kecamatan_sekolah").hide()
        $(".field-sekolah_tujuan").hide()

        $("#id_usia").prop('readonly','readonly')
        $("#id_tanggal_lahir").on('input',function(e){
            $("#id_usia").val(getAge($(this).val()))
        })
        $("p#id_kecamatan").html(`
          <a href="{{kecamatan_url}}">{{kecamatan_text}}</a>
        `)
        $("#alamat_sesuai_ktp").parent().find("input, select").each((index, item)=>{
          $(item).attr('required',"required")
        })
        $("#alamat_sesuai_domisili").parent().find("input, select").each((index, item)=>{
          $(item).attr('required',"required")
        })
        $("#id_is_daftar").change(function() {
          if(this.checked) {
            $(".field-kecamatan_sekolah").show()
            $("#id_kecamatan_sekolah").select2({
              width: 'resolve'
            })
            $(".field-sekolah_tujuan").show()
            $(".field-alasan").hide()
          }else{
            $("#id_kecamatan_sekolah").select2("destroy")
            $(".field-kecamatan_sekolah").hide()
            $(".field-alasan").show()
            $(".field-sekolah_tujuan").hide()
          }
        });
        {% if original %}
        setTimeout(() => {
          val_sekolah = "{{original.sekolah_tujuan.id}}"
          val_kecamatan = "{{original.desa.kecamatan.kode}}"
          val_desa = "{{original.desa.kode}}"
          val_kecamatan_domisili = "{{original.desa_domisili.kecamatan.kode}}"
          val_desa_domisili = "{{original.desa_domisili.kode}}"
          val_kelas = "{{original.kelas.id}}"
          {% if original.is_daftar %}
          $(".field-kecamatan_sekolah").show()
          $(".field-sekolah_tujuan").show()
          $(".field-alasan").hide()
          {% else %}
          $(".field-kecamatan_sekolah").hide()
          $(".field-alasan").show()
          $(".field-sekolah_tujuan").hide()
            {% endif %}
            setTimeout(() => {
              $("#id_pendidikan_terakhir").trigger("change")
              $("#id_kecamatan").val(val_kecamatan).trigger("change")
              $("#id_kecamatan_domisili").val(val_kecamatan_domisili).trigger("change")
              setTimeout(() => {
                  $("#id_kelas").val(val_kelas).trigger("change")
                  $("#id_sekolah_tujuan").val(val_sekolah).trigger("change")
                  $("#id_desa").val(val_desa).trigger("change")
                  $("#id_desa_domisili").val(val_desa_domisili).trigger("change")
                  {% if readonly %}
                  $("#pengaduan_form").find("select, input, textarea").not('[readonly]').prop("disabled",true)
                  {% endif %}
                },500);
              },500);
            },500);
          {% endif %}
        $("#identitas_pkbm").after(`  
        <div class="container" id="identitas_pkbm_profil">

          <div class="table-responsive">
            <table class="table table-hover">
              {% for item in field %}
              {% if item == "nomor_hp" %}
              <tr>
                <td>{{item|replace:"_| "|title}}</td>
                <td>:</td>
                <td><a href="http://" id="nomor_hp" target="_blank" rel="noopener noreferrer"> <i class="fab fa-whatsapp fa-2x" style="color: #00ff11;"></i></a>
                </td>
              </tr>
              {% else %}
              <tr>
                <td>{{item|replace:"_| "|title}}</td>
                <td>:</td>
                <td><span id="{{item}}">-</span></td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      `)
      $("#identitas_pkbm_profil").hide()
    })
</script>
{% endblock custom_js %}