{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="{% static 'page' %}/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- <link id="pagestyle" href="{% static 'material' %}/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" /> -->
    <link href="{% static 'page' %}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <style>
        body {
            background-color: white;
        }

        * {
            font-family: Arial;
        }
        @media print {

            body,
            page {
                margin: 0;
                box-shadow: 0;
            }

            @page {
                margin: 30px;
                /* Menghapus header & Footer browser */
                size: 8.46in 12.98in;
                /* Ngefixkan kertas ke F4 Landscape*/
                size: landscape;
            }

            page {
                border-radius: 0;
            }
            }

            @media print {
            table {
                page-break-after: auto
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            td {
                page-break-inside: avoid;
                page-break-after: auto
            }

            thead {
                display: table-header-group
            }

            tfoot {
                display: table-footer-group
            }

            .hidden-print {
                display: none;
            }
        }
        .btn-success{
            color: black !important;
            font-weight: 900;
		}
        
		.btn-danger{
            color: white !important;
            font-weight: 900;
		}
        
		.btn-info{
            color: white !important;
            font-weight: 900;
		}
		.actions{
			position: fixed;
			margin-top: 200px;
			width: 90px;
			margin-left: -8px;
			background-color: white;
			padding: 5px;
			border-radius: 10px;
		}

		.actions-show{
			position: fixed;
			margin-top: 200px;
			width: 25px;
			margin-left: 0px;
			background-color: #2196f3;
			padding: 5px;
			cursor: pointer;
			display: none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: 2px solid white;
		}

		.btn-action{
			padding: 15px;
			cursor: pointer;
			margin-top: 5px;
			border-radius: 5px;
			border: 2px solid #eee;
			color: white;
			width:100%;
		}

		.btn-hide-action{
			position: absolute;
			right: 15px;
			cursor: pointer;
		}

		.label-action{
			margin-bottom: 10px;
            padding-left: 10px;
		}
        table th {
            color: black !important;
            text-align: center;
            font-size: 11px !important;
        }
        table td {
            color: black !important;
            font-size: 10px !important;
        }
        .text{
           mso-number-format:"\@";/*force text*/
        }
    </style>
</head>
<body>
	<div class="actions-show noprint" title="Tampilkan Aksi" onclick="actionOpenHide('show')">
		<i class="fas fa-arrow-right"></i>
	</div>

	<div class="actions noprint">
		<label class="label-action">Aksi <i class="fas fa-arrow-left btn-hide-action" title="Sembunyikan Aksi" onclick="actionOpenHide('hide')"></i></label>
		<button class=" btn-action btn-success btn-print exportToExcel" onclick="ExportToExcel('xlsx')" disabled title="Ekspor ke Excel">
			<i class="fas fa-file-download"></i> Ekspor Excel
		</button>
		<!-- <button class = "btn-action btn-success btn-print1" style="display: none;" onclick="window.print()" title="Cetak">
			<i class="fas fa-print " ></i> Cetak
		</button> -->
		<button class="btn-action btn-danger" onclick="if(confirm('Close window?'))window.close()" title="Tutup Halaman">
			<i class="fas fa-times"></i> Tutup
		</button>
	</div>
    <page class="F4" >
    <div class="table-responsive">

    <table class="table table-bordered table2excel" id="result_list">
        <thead>
            <tr id="tr_header">
                <th>Nomor Aduan</th>
                <th>NIK</th>
                <th>Nama</th>
                <th>Tempat, Tanggal Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Usia</th>
                <th>Pendidikan Terakhir</th>
                <th>Kelas</th>
                <th>Keterangan</th>
                <th>Alamat Lengkap</th>
                <th>Desa</th>
                <th>Kecamatan</th>
                <th>Nomor HP</th>
                <th>NIK Ayah</th>
                <th>Nama Ayah</th>
                <th>NIK Ibu</th>
                <th>Nama Ibu</th>
                <th>Riwayat Pengaduan Terakhir</th>
                <th>Sekolah</th>
                <th>Paket</th>
            </tr>
        </thead>
        <tbody>
            {% if qs %}
            {% for i in qs %}
            <tr data-status="unload" data-url="{% url 'admin:pengaduan_pengaduan_load' %}?id={{i.id}}" data-urutan="{{forloop.couter}}">
                <td style="text-align: center;" colspan="99" id="td_loading"><i class="fas fa-cog" ></i> Loading</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td style="text-align: center;" colspan="99">Tidak Ada Data Pengaduan</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

</page>

</body>
<script src="{% static 'page' %}/vendor/jquery/jquery.min.js"></script>
<script src="{% static 'page' %}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'page' %}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'page' %}/js/sb-admin-2.min.js"></script>
<script src="{% static 'select2/js/select2.min.js' %}"></script>
<script src="{% static 'plugins/moments/moment.min.js' %}"></script>

<script src="{% static 'plugins/xlsx/xlsx.full.min.js' %}" ></script>
<script>
    const actionOpenHide = (s) => {
        if(s === "hide"){
            $('.actions').hide()
            $('.actions-show').show()
        }else{
            $('.actions').show()
            $('.actions-show').hide()
        }
    }
    function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('result_list');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" ,'raw':true});
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ("Export_Pengaduan_"+moment().format("DDMMYYYYhhmmss")+".") + (type || 'xlsx'));
        }
    $(function(){
        let total_data= $('#result_list tr[data-status=unload]').length
        let count_data = 0
        let start_ = 0
        let end_ = 0
        let title_default = document.title;
        let button_title_default = `<i class="fas fa-file-download"></i> Ekspor Excel`;
        const getData = (elemen_) => {
				url_ = elemen_.data('url')
				if(typeof url_ != 'undefined'){
					$.ajax({
						url: url_,
						type: "GET",
						success: function(respon){
							if(respon.success){
                                html = `
                                    <td>${respon.nomor_aduan}</td>
                                    <td>${respon.nik}</td>
                                    <td>${respon.nama}</td>
                                    <td>&nbsp;${respon.ttl}</td>
                                    <td>&nbsp;${respon.jenis_kelamin}</td>
                                    <td>${respon.usia}</td>
                                    <td>${respon.pendidikan_terakhir}</td>                                    
                                    <td>${respon.kelas}</td>                                    
                                    <td>${respon.keterangan}</td>                                    
                                    <td>${respon.alamat}</td>                                    
                                    <td>${respon.desa}</td>                                    
                                    <td>${respon.kecamatan}</td>                                    
                                    <td>${respon.no_hp}</td>                                    
                                    <td>${respon.nik_ayah}</td>                                    
                                    <td>${respon.nama_ayah}</td>                                    
                                    <td>${respon.nik_ibu}</td>                                    
                                    <td>${respon.nama_ibu}</td>                                    
                                    <td>${respon.riwayat_terakhir}</td>                                    
                                    <td>${respon.sekolah}</td>                                    
                                    <td>${respon.paket}</td>                                    
                                    `
                                elemen_.html(html)
                            }
							elemen_.attr('data-status', 'loaded');
							count_data += 1
							start_ = end_
							end_ = Math.round(count_data / total_data * 100)
							document.title = end_+"% "+title_default;
							$('.btn-print').html(end_+"% ")
							if(end_ >= 100){
								document.title = title_default;
								$('.btn-print').html(button_title_default).attr('disabled',false)
								// $('.btn-print1').css('display','')
							}
							
							if($('#result_list tbody tr[data-status=unload]').length > 0){
								if($('#result_list tbody tr[data-status=unload]').eq(0).data('url')!= 'undefined'){
									getData($('#result_list tbody tr[data-status=unload]').eq(0));
								}
							}
						},
						error: function(e){
							elemen_.attr('data-status', 'loaded')
							count_data += 1
							start_ = end_
							end_ = Math.round(count_data / total_data * 100)
							document.title = end_+"% "+title_default;
							if(end_ >= 100){
								document.title = title_default;
							}
							
							if($('#result_list tbody tr[data-status=unload]').length > 0){
								if($('#result_list tbody tr[data-status=unload]').eq(0).data('url')!= 'undefined'){
									getData($('#result_list tbody tr[data-status=unload]').eq(0));
								}
							}
						}
					})
				}
			}
			
			if($('#result_list tbody tr[data-status=unload]').length > 0){
				if($('#result_list tbody tr[data-status=unload]').eq(0).data('url')!= 'undefined'){
					getData($('#result_list tbody tr[data-status=unload]').eq(0));
				}
			}
    })
</script>
</html>