{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    <li class="breadcrumb-item">
        <a href="{% url 'admin:index' %}" class="text-muted">{% trans 'Home' %}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#" class="text-muted">Pengaduan</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#" class="text-muted active">Export Pengaduan</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Form Input Export Pengaduan</h3>
        </div>
    </div>
    <form method="get" target="_blank">
        <input type="hidden" name="export" id="id_export" value="true">
        <div class="card-body">
            Silahkan Langsung Tekan Tombol Export   
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary"><i class="fas fa-download" ></i> Export</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block custom_js %}
{{ block.super }}
{% endblock custom_js %}