{% extends "admin/base.html" %}
{% load i18n static %}

{% block main-sidebar %}
{% if not is_popup %}
{% endif %}
{% endblock %}

{% block custom_js %}
<!-- <script type="text/javascript" src="{% static 'scripts/page/base_site.js' %}?version=0.0.1"></script> -->
{{ block.super }}
<script type="text/javascript">
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    const renderMenus = (selector, data) => {
        menu_content = ''
        let child_parent_id;
        $.map(data, function (item) {
            let is_selected = false;
            let url_ = '#';
            //item objek manggil rey 0,1

            if (typeof item.url != 'undefined') {
                url_ = item.url;
                if (url_ === window.location.pathname) {
                    is_selected = true;
                }
            }

            let is__active = '';
            if (is_selected) {
                is__active = 'active';
            }

            if (item.children) {

                $.map(item.children, function (child) {
                    is_selected = false
                    url_ = '#'

                    if (typeof child.url != 'undefined') {
                        url_ = child.url;
                        if (url_ === window.location.pathname) {
                            is_selected = true;
                        }

                        // console.log('is_selected : ', is_selected)
                        if (is_selected) {
                            is__active = "active"
                        }
                    }
                })

                menu_content += `
                    <li class="nav-item ${is__active}" id="${item.id}">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-${item.id}"
                            aria-expanded="true" aria-controls="collapse-${item.id}">
                            <i class="${item.icon}"></i>
                            <span>${item.title}</span>
                        </a>
                        <div id="collapse-${item.id}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                    `;

                $.map(item.children, function (child) {
                    is_selected = false
                    url_ = '#'

                    if (typeof child.url != 'undefined') {
                        url_ = child.url
                        if (url_ == window.location.pathname) {
                            is_selected = true
                        }
                    }
                    console.log(child)
                    is__active = ''
                    if (is_selected) {
                        is__active = 'active'
                        child_parent_id = child.parent
                    }

                    menu_content += `
                        <a class="collapse-item ${is__active}" href="${child.url}"><i class="${child.icon}" ></i> ${child.title}</a>
                `;
                });

                menu_content += `
                        </div>
                    </div>
                </li>
            `;
            } else {

                if (is_selected) {
                    is__active = "active"
                }

                menu_content += `
                <li class="nav-item ${is__active}">
                    <a class="nav-link" href="${item.url}">
                        <i class="${item.icon}"></i>
                        <span>${item.title}</span></a>
                </li>
            `;
            }
            selector.html(menu_content);
        });
        console.log(child_parent_id)
        $("li#"+child_parent_id).find('a.nav-link').removeClass('collapsed')
        $("#collapse-"+child_parent_id).addClass('show')
    }

    function ajax_load_item_menu() {
        $.ajax({
            type: 'GET',
            //yg dipanggil menu pengguna 
            url: '{% url "menu_pengguna" %}',
            success: function (response) {
                // data = $.parseJSON(response)
                renderMenus($('#Menu'), response);
            },
            error: function (jqXHR, exception) {
                if (jqXHR.status === 0) {
                    alert('Not connect.\n Verify Network.');
                } else if (jqXHR.status == 404) {
                    alert('Requested page not found. [404]');
                } else if (jqXHR.status == 500) {
                    alert('Internal Server Error [500].');
                } else if (exception === 'parsererror') {
                    alert('Requested JSON parse failed.');
                } else if (exception === 'timeout') {
                    alert('Time out error.');
                } else if (exception === 'abort') {
                    alert('Ajax request aborted.');
                } else {
                    alert('Uncaught Error.\n' + jqXHR.responseText);
                }
                if (!jqXHR.status == 500) {
                    ajax_load_item_menu();
                }
            }
        })
    }

    $(function () {
        ajax_load_item_menu()
        // getting_menu()
    })
</script>
{% endblock %}