{% load static %}
<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pengaduan Putus Sekolah">
    <meta name="author" content="Yusran Ihza Mahendra">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'page' %}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'page' %}/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img' %}/icons8-school-16.png" />
    <link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />

    <!-- extrastyle -->
    <style>
        body{
            font-size: 10pt !important;
        }
        @media (min-width: 768px) {
            .sidebar .nav-item .nav-link {
                padding: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }
    </style>
    {% block extrastyle %}
    {% endblock %}
    <!-- extrastyle -->
    <!-- ExtraHead -->
    {% block extrahead %}{% endblock %}
    <!-- ExtraHead -->
    <!-- Custom Style -->
    {% block custom_style %}{% endblock %}
    <!-- Custom Style -->
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Pengaduan Putus Sekolah</div>
            </a>

            <!-- Nav Item - Dashboard -->
            <div id="Menu">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fas fa-fw fa-spinner"></i>
                        <span>Loading</span>
                    </a>
                </li>
            </div>

            <!-- Nav Item - Pages Collapse Menu -->


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <a href="{% url 'frontend' %}" class="btn btn-success"><i class="fas fa-globe"></i> View Site</a>

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600">{% if request.user.nama_lengkap %}{{request.user.nama_lengkap}}{% else %}{{request.user.email}}{% endif %}</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'page' %}/img/blank.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'admin:account_account_password' account_id=request.user.id %}">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ubah Password
                                </a>
                                <a class="dropdown-item" href="{% url 'admin:account_account_profile' account_id=request.user.id %}">
                                    <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ubah Profil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:logout' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block messages %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% else %}info{% endif %}">
                            {% if message.tags == 'error' %}
                            <h5><i class="icon fas fa-ban"></i> Error!</h5>
                            {% elif message.tags == 'warning' %}
                            <h5><i class="icon fas fa-exclamation-triangle"></i> Peringatan!</h5>
                            {% elif message.tags == 'success' %}
                            <h5><i class="icon fas fa-check"></i> Success!</h5>
                            {% else %}
                            <h5><i class="icon fas fa-info"></i> Info!</h5>
                            {% endif %}
                            <nobr>{{ message }}</nobr>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endblock messages %}

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
                       {% block breadcrumbs %}{% endblock breadcrumbs %}
                    </div>
                    {% block content %}
                    {% endblock content %}

                </div>
                <!-- /.container-fluid -->
                
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Anon 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'page' %}/vendor/jquery/jquery.min.js"></script>
    <script src="{% static 'page' %}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'page' %}/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'page' %}/js/sb-admin-2.min.js"></script>
    <script src="{% static 'select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/moments/moment.min.js' %}"></script>

    {% comment %} <!-- Page level plugins -->
    <script src="{% static 'page' %}/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'page' %}/js/demo/chart-area-demo.js"></script>
    <script src="{% static 'page' %}/js/demo/chart-pie-demo.js"></script> {% endcomment %}
    <script>
        $(function(){
            $("input[id*='tanggal'] , input[id*='tmt'], input[type='date'], #id_expired_date" ).each(function() {
                if($(this).attr('type') != "date"){
                    $(this).attr('type','date');
                }
                if($(this).attr('value')){
                    let value = $(this).attr('value')
                    $(this).attr('value', moment(value,"DD-MM-YYYY").format("YYYY-MM-DD"))
                }
            })
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        })
    </script>
    {% block extra_js %}{% endblock %}
    {% block custom_js %}{% endblock %}
</body>

</html>