{% extends "admin/base_site.html" %}
{% load i18n static admin_list admin_urls %}

{% block title %}{{ cl.opts.verbose_name_plural|capfirst }}{% endblock %}

{% block bodyclass %}{{ block.super }} {{ cl.opts.app_label }} {{ cl.opts.app_label }}-{{ cl.opts.model_name }}
change-list{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function ($) {
            // $("tr input.action-select").actions();
        });
    })(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block custom_style %}
{{ block.super }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function ($) {
                // $("tr input.action-select").actions();
            });
        })(django.jQuery);
    </script>
{% endif %}{% endif %}
<style type="text/css">
    .text a{
        color:white !important;
    }
    .sortoptions a{
        color:white !important;
    }
    .change_list__pagination>.pagination>li>a {
        padding: .5rem .75rem;
        border: 1px solid #dee2e6;
        background: white;
        border-radius: 5px;
    }

    .dropdown-menu.show {
        left: -90px;
    }

    #changelist-form .actions {
        display: inline-flex;
        width: 100%;
    }

    .select-mobile {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: white;
    }

    .paginate_button{
        cursor: pointer;
    }

    .actions .form-group{
        display: inherit;
    }
</style>
{% endblock %}

{% block custom_js %}
{{ block.super }}
<script src="{% static 'scripts/jsi18n.js' %}"></script>
<script src="{% static 'scripts/actions.js' %}"></script>
<script type="text/javascript">
    const OpenLink = (elem) => {
        // console.log(elem.data('url'))
        window.location.href = window.location.pathname+elem.data('url');
    }

    $(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('select').addClass('select-mobile')
        }

        // load option ajax
        var load_option_ajax = function (elemen_) {
            let select_ = elemen_.find('select');
            select_.select2();
            let set_disable = elemen_.data('disable');
            if(typeof set_disable != 'undefined' && set_disable){
                select_.attr('disabled', true);
            }
            let url_ = $(elemen_).data('url');
            let title_ = elemen_.data('title');
            let value_ = elemen_.data('value');
            if (typeof url_ != 'undefined' && url_ != ''){
                $.ajax({
                    url: url_,
                    type: "GET",
                    data: {
                        act: "list-filter-json"
                    },
                    beforeSend: function(){
                        // elemen_.select2("enable", true);
                        select_.attr('disabled', true);
                    },
                    success: function (response) {
                        // console.log(response)
                        var html_ = "";
                        if(typeof title_ != 'undefined'){
                            html_ = `<option value>Semua ${title_}</option><option value="0">${title_} tidak diketahui</option>`;
                        }
                        try{
                            if(response.success){
                                response.data.map(item => {
                                    var selected = "";
                                    if(typeof value_ !== 'undefined'){
                                        if(value_ == item.id){
                                            selected = "selected";
                                        }
                                    }
                                    html_ += `<option value="${item.id}" ${selected}>${item.text}</option>`
                                })
                            }
                        }catch(e){
                            console.log(e)
                            html_ = response
                        }

                        select_.html(html_).trigger('change');
                        // elem = elemen_.find('select');
                        // html_before = elem.html();
                        // elem.html(html_before + response);

                        // selected = elemen_.data('selected');
                        // if (typeof selected != 'undefined' && selected != '') {
                        //     elem.val(selected).trigger('change');
                        // }

                        elemen_.attr('data-status', 'loaded');
                        if ($('.select-filter[data-status=unload]').length > 0) {
                            if ($('.select-filter[data-status=unload]').eq(0).data('url') !=
                                'undefined') {
                                load_option_ajax($('.select-filter[data-status=unload]').eq(0));
                            }
                        }
                    },
                    complete: function(){
                        select_.attr('disabled', false);
                    }
                });
            }else{
                elemen_.attr('data-status', 'loaded');
                if ($('.select-filter[data-status=unload]').length > 0) {
                    if ($('.select-filter[data-status=unload]').eq(0).data('url') !=
                        'undefined') {
                        load_option_ajax($('.select-filter[data-status=unload]').eq(0));
                    }
                }
            }
        }

        if ($('.select-filter[data-status=unload]').length > 0) {
            if ($('.select-filter[data-status=unload]').eq(0).data('url') != 'undefined') {
                load_option_ajax($('.select-filter[data-status=unload]').eq(0));
            }
        }
    });
</script>

{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    <li class="breadcrumb-item">
        <a href="{% url 'admin:index' %}" class="text-muted">{% trans 'Home' %}</a>
    </li>
    <li class="breadcrumb-item">
        {% if title %}
        <a href="" class="text-muted active">{{ cl.opts.verbose_name_plural|capfirst }}</a>
        {% endif %}
    </li>
</ul>
{% endblock breadcrumbs %}


{% block extrastyle %}
{{ block.super }}
<!-- <link href="{% static 'vendors/select2/select2.min.css' %}" rel="stylesheet" /> -->
{% endblock %}

{% block extrajs %}
{{ block.super }}
<!-- <script src="{% static 'vendors/select2/select2.min.js' %}"></script> -->
{% endblock %}

{% block content %}
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
    {% block search %}{% search_form cl %}{% endblock %}
    {% block extra-tools %}{% endblock %}

    <div class="row">
        <div class="col-lg-12">
            {% if cl.formset.errors %}
            <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ cl.formset.non_form_errors }}
            {% endif %}
        </div>
    </div>
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="mr-auto font-weight-bold text-dark">
                    {% block extra-object-tools %}
                    {% block header-extra-object-tools %}
                    Pilih {% if other_title %}{{other_title}}{% else %}{{ cl.opts.verbose_name_plural|capfirst }}{% endif %}
                    {% endblock %}
                    {% endblock %}
            </h6>
                {% block actions %}
                
                {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <a href="{% add_preserved_filters add_url is_popup %}" class="btn btn-success font-weight-bolder btn-sm"><i
                        class="nav-icon fas fa-plus"></i>
                    {% trans 'Add' %}</a>
                {% endif %}
                {% endblock %}
                
                {% block sync %}
                {% endblock %}
        </div>
        <!-- Card Body -->
        <div class="card-body p-0">
        {% if tampilan_user %}
        <div class="row">
            <div class="col-md-12">
        {% endif %}
            <form id="changelist-form" action="" method="post" {% if cl.formset.is_multipart %}enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
                <div class="card-body p-0">
                    {% if cl.formset %}
                        <div>{{ cl.formset.management_form }}</div>
                    {% endif %}
                
                    {% block result_list %}
                        {% block custom_action %}
                            {% if action_form and cl.full_result_count %}
                                <div style="margin-bottom: 15px;">{% admin_actions %}</div>
                            {% endif %}
                        {% endblock %}
                        {% block custom_result_list %}
                            {% result_list cl %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </form>
        {% if tampilan_user %}
            </div>
        </div>
        {% endif %}

        {% block filters %}
        <div class="col-md-3">
            {% if cl.has_filters %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary">{% trans 'Filter' %}</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                    <div class="dropdown-menu">
                        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                    </div>
                </button>
            </div>
            {% endif %}
        </div>
        {% endblock %}
        {% if tampilan_user %}
    </div>
        {% endif %}
    {% block footer %}
    {{ block.super }}
    <div class="card-footer">
        <div class="text-center">
            {% block pagination %}{% pagination cl %}{% endblock %}
        </div>
    </div>
    {% endblock %}
</div>
</div>
{% endblock %}