{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs_item %}
	{% if not is_popup %}
		<li class="breadcrumb-item"><a href="{% url 'home_page' %}">{% trans 'Home' %}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
		<li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a></li>
		<li class="breadcrumb-item active">{% trans 'Delete' %}</li>
	{% endif %}
{% endblock %}

{% block content %}
	{% if perms_lacking or protected %}
	{% if perms_lacking %}
	  <div class="alert alert-error">
		{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
		<ul>
		  {% for obj in perms_lacking %}
			<li>{{ obj }}</li>
		  {% endfor %}
		</ul>
	  </div>
	{% endif %}
	{% if protected %}
	  <div class="alert alert-error">
		{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}
		<ul>
		  {% for obj in protected %}
			<li>{{ obj }}</li>
		  {% endfor %}
		</ul>
	  </div>
	{% endif %}
  {% else %}
	{% block delete_form %}
		<div class="card  card-custom ">
		<div class="card-header bg-light p-2">
		        <h3 class="card-title">{% trans 'Delete' %} {% trans opts.verbose_name %}?</h3>
	      	</div>
			<div class="card-body">
				<form action="" method="post">{% csrf_token %}
					<p>
					{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
					<ul>{{ deleted_objects|unordered_list }}</ul>
					<br>

					<div>
						<input type="hidden" name="post" value="yes"/>
						<button type="submit" class="btn btn-danger"><i class="fa fa-trash mr-2"></i> {% translate "Ya, saya yakin" %}</button>
						<button type="button" class="cancel-link btn btn-primary" onclick="window.history.back();">{% translate "No, take me back" %}</button>
					</div>
				</form>
			</div>
		</div>	  
	{% endblock %}
  {% endif %}
{% endblock %}