{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs_item %}
	{% if not is_popup %}
		<li class="breadcrumb-item"><a href="{% url 'home_page' %}">{% trans 'Home' %}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
		<li class="breadcrumb-item active">{% trans 'Delete multiple objects' %}</li>
	{% endif %}
{% endblock %}

{% block content %}
  {% if perms_lacking or protected %}
	{% if perms_lacking %}
	  <div class="alert alert-error">
		{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}
		<ul>
		  {% for obj in perms_lacking %}
			<li>{{ obj }}</li>
		  {% endfor %}
		</ul>
	  </div>
	{% endif %}
	{% if protected %}
	  <div class="alert alert-error">
		{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}
		<ul>
		  {% for obj in protected %}
			<li>{{ obj }}</li>
		  {% endfor %}
		</ul>
	  </div>
	{% endif %}
  {% else %}
	<div class="card  card-custom ">
		<div class="card-header bg-light p-2">
	        <h3 class="card-title mt-3 ml-6">{% trans 'Confirm deletion' %}</h3>
      	</div>
		<div class="card-body">
			<form action="" method="post">{% csrf_token %}
			  {% for obj in queryset %}
				<input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}"/>
			  {% endfor %}
			  <input type="hidden" name="action" value="delete_selected"/>
			  <input type="hidden" name="post" value="yes"/>

				<p>
				  {% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
				{% for deletable_object in deletable_objects %}
				  <ul>{{ deletable_object|unordered_list }}</ul>
				{% endfor %}
				<br>

				<div>
				  <button type="submit" class="btn btn-danger"> <i class="fa fa-trash mr-2"></i>{% translate "Ya, saya yakin" %}</button>
				<button type="button" class="cancel-link btn btn-primary" onclick="window.history.back();">{% translate "No, take me back" %}</button>
				</div>
			</form>
		</div>
	</div>
  {% endif %}
{% endblock %}