{% load static %}
<!DOCTYPE html>
<html lang="id">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Sign in page">
<meta name="author" content="Yusran Ihza Mahendra | Pusbas Uniska">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'login' %}/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'login' %}/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'login' %}/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{% static 'login' %}/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="{% static 'login' %}/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'login' %}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'login' %}/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'login' %}/css/volt.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body background="{% static 'login' %}/assets/img/backgroud.jpg">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
    
    <!-- #1F2937 -->
    <main>

        <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            {% block messages %}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% else %}info{% endif %}">
                                    {% if message.tags == 'error' %}
                                    <h5><i class="icon fas fa-ban"></i> Error!</h5>
                                    {% elif message.tags == 'warning' %}
                                    <h5><i class="icon fas fa-exclamation-triangle"></i> Peringatan!</h5>
                                    {% elif message.tags == 'success' %}
                                    <h5><i class="icon fas fa-check"></i> Success!</h5>
                                    {% else %}
                                    <h5><i class="icon fas fa-info"></i> Info!</h5>
                                    {% endif %}
                                    <nobr>{{ message }}</nobr>
                                </div>
                                {% endfor %}
                            {% endif %}
                            {% endblock messages %}
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">SIAPS Login</h1>
                            </div>
                            {% if form.errors and not form.non_field_error %}
                            <div class="alert alert-danger alert-dismissible">
                                <h5><i class="icon fas fa-ban"></i> Terjadi Kesalahan!</h5>
                                Perbaiki kesalahan di bawah ini.
                            </div>
                            {% endif %}
        
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-warning alert-dismissible">
                                <!-- <h5><i class="icon fas fa-ban"></i> Alert!</h5> -->
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form action="{{ app_path }}" method="POST" class="mt-4">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Username" id="id_username" name="username" autofocus required>
                                    </div>  
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input type="password" placeholder="Password" class="form-control" name="password" id="password" required>
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <input type="hidden" name="next" value="{{request.GET.next}}">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-gray-800">Sign in</button>
                                </div>
                                <div class="pt-2">
                                    Tidak Memiliki Akun ? <a href="{% url 'register' %}">Register disini</a><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Core -->
<script src="{% static 'login' %}/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="{% static 'login' %}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="{% static 'login' %}/vendor/onscreen/dist/on-screen.umd.min.js"></script>

<!-- Slider -->
<script src="{% static 'login' %}/vendor/nouislider/dist/nouislider.min.js"></script>

<!-- Smooth scroll -->
<script src="{% static 'login' %}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Charts -->
<script src="{% static 'login' %}/vendor/chartist/dist/chartist.min.js"></script>
<script src="{% static 'login' %}/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Datepicker -->
<script src="{% static 'login' %}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'login' %}/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'login' %}/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<!-- Notyf -->
<script src="{% static 'login' %}/vendor/notyf/notyf.min.js"></script>

<!-- Simplebar -->
<script src="{% static 'login' %}/vendor/simplebar/dist/simplebar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{% static 'login' %}/assets/js/volt.js"></script>

    
</body>

</html>
