{% load admin_list custom i18n %}

<div id="pagination_id" class="center">
    {% if pagination_required %}
    <nav aria-label=".........">
        <ul class="pagination">
            {% for i in page_range %}
            {% custom_paginator_number cl i %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    <div class="pagination-info" style="margin-top: 10px; margin-bottom: 10px">
        <label class="">Total {{ cl.result_count }}</label>
        <label class="">
            {% if cl.result_count == 1 %}
            {{ cl.opts.verbose_name }}
            {% else %}
            {{ cl.opts.verbose_name_plural }}
            {% endif %}
        </label>
        {% if show_all_url %}
            &nbsp;&nbsp;
            <a href="{{ show_all_url }}" class="showall btn btn-sm btn-rounded btn-light">{% trans 'Show all' %}</a>
        {% endif %}
    </div>
</div>
