{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load admin_urls %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
			<a href="{% url 'admin:index' %}" class="text-muted">{% trans 'Home' %}</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{% url 'admin:app_list' app_label=opts.app_label %}" class="text-muted">{{ opts.app_config.verbose_name }}</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{% url opts|admin_urlname:'changelist' %}" class="text-muted">{{ opts.verbose_name_plural|capfirst }}</a>
		</li>
		<li class="breadcrumb-item">
			{% block breadcrumbs_last %}{% endblock %}
		</li>
    </ol>
</nav>
{% endblock %}
{% endif %}
