{% extends 'admin/base_site.html' %}
{% load static %}

{% block content %}
<div class="mb-3 d-flex justify-content-center" style="gap: 30px;">
    <div class="">
        <img src="{% static 'img/logo_kediri.svg' %}" style="width: 85px;object-fit: cover;" alt="">
    </div>
    <div class="">
        <img src="{% static 'img/kediri_berbudaya.png' %}" style="width: 200px;object-fit: cover;" alt="">
    </div>
    <div class="">
        <img src="{% static 'img/Masbup.png' %}" style="width: 100px;object-fit: cover;" alt="">
    </div>
</div>
<div class="mb-3 d-flex justify-content-center">
    <h3 style="color: black;">Sistem Informasi Anak Putus Sekolah Bagi Masyarakat yang Membutuhkan Pendidikan</h3>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    {% comment %} {% if not is_petugas %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Petugas</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{petugas}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-secret fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endcomment %}

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Semua Pengaduan</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{semua}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-envelope fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Pengaduan Diproses</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{proses}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Pengaduan Ditolak</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{tolak}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-times fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Pengaduan Selesai</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{selesai}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-check fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}