{% extends "admin/base_site.html" %}

{% block content %}
<section class="content">
	<form method="POST">{% csrf_token %}
		<div class="card card-custom gutter-b">
			<div class="card-body">
				<div class="form-group">
					<label for="exampleInputPassword1">Sandi baru</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1">
					<small class="form-text text-muted">Gunakan angka, huruf, dan symbol untuk password yang lebih aman.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword2">Password (Ulangi)</label>
					<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password2">
				</div>
			</div>
			<div class="card-footer">
				<button class="btn btn-primary btn-sm"><i class="fa fa-key"></i> Ganti</button>
			</div>
		</div>
	</form>
</section>
{% endblock %}