{% extends 'admin/change_form.html' %}

{% block custom_js %}
{{ block.super }}
<script>
    const getKecamatan = () =>{
        $.ajax({
          url:`{% url 'admin:master_kecamatan_json' %}`,
          type:"GET",
          success:function(respon){
            html = `<option readonly value="">Pilih Kecamatan</option>`
            for(i=0; i<respon.data.length; i++){
              html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
            }
            $("#id_kecamatan").html(html).prop("disabled",false).select2({
              width: 'resolve'
            })
          }
        })
      }
      const getDesa = (elemen) => {
        kecamatan_kode = elemen.val()
        $.ajax({
          url:`{% url 'admin:master_desa_json' %}?kode_kecamatan=${kecamatan_kode}`,
          type:"GET",
          success:function(respon){
            if(respon.success){
              html = `<option readonly value="">Pilih Desa</option>`
              for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              $("#id_desa").html(html).prop("disabled",false).select2({
                width: 'resolve'
              })
            }else{
              console.log(respon.pesan)
            }
          }
        })
      }
    $(function(){
        getKecamatan()
        {% if original %}
        setTimeout(() => {
            val_kecamatan = "{{original.desa.kecamatan.kode}}"
            val_desa = "{{original.desa.kode}}"
              setTimeout(() => {
                $("#id_kecamatan").val(val_kecamatan).trigger("change")
                setTimeout(() => {
                  $("#id_desa").val(val_desa).trigger("change")
                },500);
              },500);
          },500);
        {% endif %}
    })
</script>
{% endblock custom_js %}