{% extends 'admin/change_form.html' %}

{% block custom_js %}
{{ block.super }}
<script>
    const onChangeInputPaket = () =>{
      let paket_a = $("#id_jumlah_paket_a").val()
      let paket_b = $("#id_jumlah_paket_b").val()
      let paket_c = $("#id_jumlah_paket_c").val()
      jumlah = parseInt(paket_a) + parseInt(paket_b) + parseInt(paket_c)
      $("#id_jumlah_semua_paket").val(jumlah)
    }
    const onChangeInputtotal = () =>{
      let laki_laki = $("#id_jumlah_laki_laki").val()
      let perempuan = $("#id_jumlah_perempuan").val()
      jumlah = parseInt(laki_laki) + parseInt(perempuan)
      $("#id_jumlah_total").val(jumlah)
    }
    const getKecamatan = () =>{
        $.ajax({
          url:`{% url 'admin:master_kecamatan_json' %}`,
          type:"GET",
          success:function(respon){
            html = `<option readonly value="">Pilih Kecamatan</option>`
            for(i=0; i<respon.data.length; i++){
              html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
            }
            $("#id_kecamatan").html(html).prop("disabled",false).select2({
              width: 'resolve'
            })
          }
        })
      }
      const getDesa = (elemen) => {
        kecamatan_kode = elemen.val()
        $.ajax({
          url:`{% url 'admin:master_desa_json' %}?kode_kecamatan=${kecamatan_kode}`,
          type:"GET",
          success:function(respon){
            if(respon.success){
              html = `<option readonly value="">Pilih Desa</option>`
              for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              $("#id_desa").html(html).prop("disabled",false).select2({
                width: 'resolve'
              })
            }else{
              console.log(respon.pesan)
            }
          }
        })
      }
    $(function(){
        $("input[id*=paket]").not("[readonly]").each((idx, elem)=>{
          $(elem).on("input",function(){
            onChangeInputPaket();
          })
        })
        $("input[id*=jumlah]").not("[readonly]").not("input[id*=paket]").not("input[id*=tutor]").each((idx, elem)=>{
          console.log(elem)
          $(elem).on("input",function(){
            onChangeInputtotal();
          })
        })
        getKecamatan()
        {% if original %}
        onChangeInputPaket()
        onChangeInputtotal()
        setTimeout(() => {
            val_kecamatan = "{{original.desa.kecamatan.kode}}"
            val_desa = "{{original.desa.kode}}"
              setTimeout(() => {
                $("#id_kecamatan").val(val_kecamatan).trigger("change")
                setTimeout(() => {
                  $("#id_desa").val(val_desa).trigger("change")
                },500);
              },500);
          },500);
        {% endif %}
    })
</script>
{% endblock custom_js %}