{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load admin_urls %}

{% block sync %}
<a href="{% url opts|admin_urlname:"import" %}" class="btn btn-primary font-weight-bolder btn-sm ml-2" ><i class="fas fa-file-import"></i> Import</a>
{% endblock sync %}