{% extends 'admin/base_site.html' %}
{% load widgets %}

{% block custom_style %}
<style>
  .field-hidden{
    display: none;
  }
  .required{
    font-weight: bolder;
  }
</style>
{% endblock custom_style %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for field in forms %}
                <div class="col-md-6{% if field.is_hidden %} field-hidden{% endif %}">
                    <div class="mb-3">
                        {% if field|is_bool %}
                        {{field}}
                        <label for="{{field.auto_id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                        {% elif field|is_select %}
                        <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                        {{ field|addcls:"form-control" }}
                        {% elif field|is_file %}
                        <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                        {{ field|addcls:'' }}
                        {% else %}
                        <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                        {{ field|addcls:'form-control' }}
                        {% endif %}
                        {% if field.field.help_text %}
                        <div id="{{field.id}}" style="font-weight: bolder;" class="form-text">{{field.field.help_text}}</div>
                        {% endif %}
                        {% if field.errors %}
                        <p style=" color: red; background-color: #fadbd8;">{{field.errors|striptags}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success" ><i class="fas fa-save" ></i> Simpan</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script>
    const getKecamatan = () =>{
        $.ajax({
          url:`{% url 'admin:master_kecamatan_json' %}`,
          type:"GET",
          success:function(respon){
            html = `<option readonly value="">Pilih Kecamatan</option>`
            for(i=0; i<respon.data.length; i++){
              html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
            }
            $("#id_kecamatan").html(html).prop("disabled",false).select2({
              width: 'resolve'
            })
          }
        })
      }
      const getDesa = (elemen) => {
        kecamatan_kode = elemen.val()
        $.ajax({
          url:`{% url 'admin:master_desa_json' %}?kode_kecamatan=${kecamatan_kode}`,
          type:"GET",
          success:function(respon){
            if(respon.success){
              html = `<option readonly value="">Pilih Desa</option>`
              for(i=0; i<respon.data.length; i++){
                html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
              }
              $("#id_desa").html(html).prop("disabled",false).select2({
                width: 'resolve'
              })
            }else{
              console.log(respon.pesan)
            }
          }
        })
      }
      const onChangeInputPaket = () =>{
        let paket_a = $("#id_jumlah_paket_a").val()
        let paket_b = $("#id_jumlah_paket_b").val()
        let paket_c = $("#id_jumlah_paket_c").val()
        jumlah = parseInt(paket_a) + parseInt(paket_b) + parseInt(paket_c)
        $("#id_jumlah_semua_paket").val(jumlah)
      }
      const onChangeInputtotal = () =>{
        let laki_laki = $("#id_jumlah_laki_laki").val()
        let perempuan = $("#id_jumlah_perempuan").val()
        jumlah = parseInt(laki_laki) + parseInt(perempuan)
        $("#id_jumlah_total").val(jumlah)
      }
    $(function(){
        getKecamatan()
        $("#id_desa").prop('disabled',true)
        {% if original %}
        onChangeInputPaket()
        onChangeInputtotal()
        setTimeout(() => {
            val_kecamatan = "{{original.desa.kecamatan.kode}}"
            val_desa = "{{original.desa.kode}}"
              setTimeout(() => {
                $("#id_kecamatan").val(val_kecamatan).trigger("change")
                setTimeout(() => {
                  $("#id_desa").val(val_desa).trigger("change")
                },500);
              },500);
          },500);
        {% endif %}
    })
</script>
{% endblock custom_js %}