{% load static %}{% load i18n %}
<!DOCTYPE html>
<html lang="id">
<!--begin::Head-->
<head><base href="">
  <meta charset="utf-8" />
  <title>{% block title %}{% if title %}{{ title }}{% else %}Selamat Datang{% endif %}{% endblock %} | SI-APS</title>
  <meta name="description" content="Updates and statistics" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="canonical" href="https://keenthemes.com/metronic" />
  <!--begin::Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
  <!--end::Fonts-->
  <!--begin::Page Vendors Styles(used by this page)-->
  <link href="{% static 'metronic/dist/' %}assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Page Vendors Styles-->
  <!--begin::Global Theme Styles(used by all pages)-->
  <link href="{% static 'metronic/dist/' %}assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'metronic/dist/' %}assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'metronic/dist/' %}assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  <!--end::Global Theme Styles-->
  <!--begin::Layout Themes(used by all pages)-->
  <!--end::Layout Themes-->
  <link rel="shortcut icon" href="{% static 'img' %}/icons8-school-16.png" />

  {% block extrastyle %}{% endblock %}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
  {% block custom_style %}{% endblock %}
  <script>let BASE_URL = window.location.origin;</script>
  <style>
    body{
      background-image: linear-gradient(to bottom, #213555, #294062, #324a6f, #3a567c, #43618a, #646c96, #8178a0, #9b85a8, #c09aad, #d7b5b6, #e7d2ca, #f5efe7);
    }
    .header-fixed[data-header-scroll=on] .header{
      background-image: linear-gradient(to bottom, #213555, transparent);;
    }
    a.menu-link:hover{
      color: #3658D4 !important;
    }
    .btn.btn-clean.focus:not(.btn-text) i, .btn.btn-clean:focus:not(.btn-text) i, .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i{
      color: white;
    }
    .breadcrumb-item a{
      color: black !important;
    }
    .breadcrumb-item a:hover{
      color: black;
    }
    .breadcrumb .breadcrumb-item.active a, .breadcrumb .breadcrumb-item.active i, .breadcrumb .breadcrumb-item:hover a, .breadcrumb .breadcrumb-item:hover i{
      color: gray !important;
    }
  </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed subheader-enabled page-loading">
  <!--begin::Main-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <!--begin::Header Mobile-->
        {% if not is_popup %}
        <div id="kt_header_mobile" class="header-mobile">
          <!--begin::Logo-->
          <a href="{% url 'frontend' %}">
            <img alt="Logo" src="{% static 'img/logo_kediri.svg' %}" class="max-h-50px" />
          </a>
          <!--end::Logo-->
          <!--begin::Toolbar-->
          <div class="d-flex align-items-center">
            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
              <span></span>
            </button>
            <button class="btn p-0 ml-2" id="kt_header_mobile_topbar_toggle">
              <span class="svg-icon svg-icon-xl">
                <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>
            </button>
          </div>
          <!--end::Toolbar-->
        </div>
        <!--end::Header Mobile-->
        <!--begin::Header-->
        <div id="kt_header" class="header header-fixed">
          <!--begin::Container-->
          <div class="container">
            <!--begin::Left-->
            <div class="d-none d-lg-flex align-items-center mr-3">
              <!--begin::Logo-->
              <a href="{% url 'frontend' %}" class="mr-10">
                <img alt="Logo" src="{% static 'img/logo_kediri.svg' %}" class="logo-default max-h-70px" /><span style="font-size: 21px; margin-left: 10px; color: white">Sistem Informasi Anak Putus Sekolah Bagi Masyarakat yang Membutuhkan Pendidikan</span>
              </a>
              <!--end::Logo-->
            </div>
            <!--end::Left-->
            <!--begin::Topbar-->
            <div class="topbar topbar-minimize">
              <!--begin::User-->
              <div class="dropdown">
                <!--begin::Toggle-->
                <div class="topbar-item" data-offset="0px,0px">
                  <a href="{% url 'admin:login' %}" class="btn btn-icon btn-clean h-40px w-40px">
                    <i class="fas fa-sign-in-alt"></i>
                  </a>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <!--end::Dropdown-->
              </div>
              <!--end::User-->
            </div>
            <!--end::Topbar-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::Header-->
        {%endif%}
        <!-- NAVBAR -->
        {% block header %}
        {% if not is_popup %}
        {% include 'frontend/header.html' %}
        {% endif %}
        {% endblock %}
        
        <!-- BRANDCUP -->
        <!--begin::Container-->
        <div class="d-flex flex-row flex-column-fluid container">
          <!--begin::Content Wrapper-->
          <div class="main d-flex flex-column flex-row-fluid">
            <!--begin::Subheader-->
            {% block subheader %}
            <div class="subheader py-6" id="kt_subheader">
              <div class="w-100 d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                  <!--begin::Page Heading-->
                  <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">{{ title }} {% if title2 %}<div style="background: #3657D3 ;display: inline; color: white;">&nbsp;{{title2}}&nbsp;</div>{% endif %}</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    {% if not is_popup %}
                    {% block breadcrumbs %}
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                      {% block breadcrumbs_item %}
                      <li class="breadcrumb-item">
                        <a href="{% url 'frontend' %}" class="text-muted">{% trans 'Home' %}</a>
                      </li>
                      {% if title %}
                      <li class="breadcrumb-item active">
                        <a class="text-muted">{{ title }}</a>
                      </li>
                      {% endif %}
                      {% endblock %}
                    </ul>
                    {% endblock breadcrumbs %}
                    {% endif %}
                    <!--end::Breadcrumb-->
                  </div>
                  <!--end::Page Heading-->
                </div>
                <!--end::Info-->
                <!--begin::Toolbar-->
                {% block actions_toolbar %}
                {% endblock %}
              </div>
            </div>
            {% endblock %}
            <!--end::Subheader-->
            <div class="content flex-column-fluid" id="kt_content">
              {% block messages %}
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% else %}info{% endif %} alert-dismissible">
                {% if message.tags == 'error' %}
                <h5><i class="icon fas fa-ban"></i> Error!</h5>
                {% elif message.tags == 'warning' %}
                <h5><i class="icon fas fa-exclamation-triangle"></i> Peringatan!</h5>
                {% elif message.tags == 'success' %}
                <h5><i class="icon fas fa-check"></i> Success!</h5>
                {% else %}
                <h5><i class="icon fas fa-info"></i> Info!</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
              </div>
              {% endfor %}
              {% endif %}
              {% endblock messages %}
              <!--begin::Dashboard-->
              {% block content %}
              <section class="content">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Title</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    Start creating your amazing application!
                  </div>
                  <div class="card-footer">
                    Footer
                  </div>
                </div>
              </section>
              {% endblock %}
            </div>
          </div>
          <!--end::Dashboard-->
        </div>
        <!--end::Content-->
      </div>
      <!--begin::Content Wrapper-->
    </div>
    <!--end::Container-->
    <!--begin::Footer-->
    {% if not is_popup %}
    {% include 'frontend/footer.html' %}
    {% endif %}
    <!--end::Footer-->
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Page-->
<!--end::Main-->

<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'metronic/dist/' %}assets/plugins/global/plugins.bundle.js"></script>
<script src="{% static 'metronic/dist/' %}assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="{% static 'metronic/dist/' %}assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->
<!--begin::Page Vendors(used by this page)-->
<script src="{% static 'metronic/dist/' %}assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
<!--end::Page Vendors-->
<!--begin::Page Scripts(used by this page)-->
<script src="{% static 'metronic/dist/' %}assets/js/pages/widgets.js"></script>
<script>
  $(function(){

    $("input[id*='tanggal'] , input[id*='tmt'], input[type='date'], #id_expired_date" ).each(function() {
      if($(this).attr('type') != "date"){
        $(this).attr('type','date');
      }
      if($(this).attr('value')){
        let value = $(this).attr('value')
        $(this).attr('value', moment(value,"DD-MM-YYYY").format("YYYY-MM-DD"))
      }
    })
  })
</script>
{% block extrajs %}{% endblock %}
{% block custom_js %}{% endblock %}
<!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>