{% extends 'frontend/base_frontend.html' %}

{% block custom_style %}
<style type="text/css">
	#kt_content{
		padding: 25px;
	}
</style>
{% endblock %}

{% block custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/id.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" ></script>
<script type="text/javascript">
	function getCookie(cname) {
	    var name = cname + "=";
	    var decodedCookie = decodeURIComponent(document.cookie);
	    var ca = decodedCookie.split(';');
	    for(var i = 0; i <ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0) == ' ') {
	            c = c.substring(1);
	        }
	        if (c.indexOf(name) == 0) {
	            return c.substring(name.length, c.length);
	        }
	    }
	    return "";
	}

	const renderMenus = (selector, data) => {
		menu_content = ''
    	var menu_down_selected
    	$.map(data, function(item){
    		let is_selected = false;
	        let url_ = '#';
	        //item objek manggil rey 0,1
	        if(typeof item.url != 'undefined'){
	            url_ = item.url;
	            if(url_ === window.location.pathname){
	                is_selected = true;
	            }
	        }

	        let is__active = '';
	        if(is_selected){
	            is__active = 'active';
	        }

	        let id_item_menu = ""
	        if(item.id){
	            id_item_menu = item.id;
	        }

	        if(item.children){

	        	if(is_selected){
	        		is__active = "";
	        	}

	        	$.map(item.children,function(child){
	        		is_selected = false
	                url_ = '#'
	                if(typeof child.url != 'undefined'){
	                    url_ = child.url
	                    if(url_ == window.location.pathname){
	                        is_selected = true
	                    }
	                }
	                if(is_selected){
	                    is__active = 'menu-item-open menu-item-here';
	                }
	        	})

	            menu_content += `
	            	<li class="menu-item ${is__active} menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
			          	<a href="javascript:;" class="menu-link menu-toggle">
			          		<span class="menu-icon">
								<i class="${item.icon}"></i>
							</span>
				            <span class="menu-text">${item.title}</span>
				            <span class="menu-desc"></span>
				            <i class="menu-arrow"></i>
		          		</a>
		          		<div class="menu-submenu menu-submenu-classic menu-submenu-left">
		            		<ul class="menu-subnav">
	            `;

	            $.map(item.children,function(child){
	            	is_selected = false
	                url_ = '#'
	                if(typeof child.url != 'undefined'){
	                    url_ = child.url
	                    if(url_ == window.location.pathname){
	                        is_selected = true
	                    }
	                }

	                is__active = ''
	                if(is_selected){
	                    is__active = 'menu-item-open menu-item-here'
	                }

	            	menu_content += `
	            		<li class="menu-item ${is__active} menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                			<a href="${child.url}" class="menu-link">
	                			<span class="menu-icon">
									<i class="${child.icon}"></i>
								</span>
                				<span class="menu-text">${child.title}</span>
                			</a>
                		</li>
	            	`;
	            });

	            menu_content += `
	            			</ul>
		          		</div>
			        </li>
            	`;
	        }else if(item.header){
	        	menu_content += `<li class="nav-header">${item.title}</li>`
	        }else{
	        	if(is_selected){
	        		is__active = "menu-item-here"
	        	}

	        	menu_content += `
	        		<li  class="menu-item ${is__active} menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
						<a href="${item.url}" class="menu-link">
							<span class="menu-icon">
								<i class="${item.icon}"></i>
							</span>
							<span class="menu-text">${item.title}</span>
						</a>
			        </li>	
	        	`;
	        }

	        selector.html(menu_content);
    	});
	}

	const ajaxGetItemMenu = () => {
		$.ajax({
	        type: 'GET',
	        //yg dipanggil menu pengguna 
	        url: '{% url 'menu_pengguna_frontend' %}',
	        success: function(response) {
	        	renderMenus($('#kt_header_menu > .menu-nav'), response)
	        }
	    });
	}

	$(function(){
		ajaxGetItemMenu()
	})
</script>
{% endblock %}