<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
  <!--begin::Container-->
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
      <span class="text-dark font-weight-bold mr-2">2023 ©</span>
      <!-- <a href="#" target="_blank" class="text-white text-hover-primary">Pemerintahan Kabupaten Tulungagung <a href="https://aitc.co.id" target="blank">AITC</a></a> -->
      <a href="#" target="_blank" class="text-black text-hover-primary">Anon</a>
    </div>
    <!--end::Copyright-->
    <!--begin::Nav-->
    <!--end::Nav-->
  </div>
  <!--end::Container-->
</div>