{% extends 'frontend/base_site_frontend.html' %}
{% load static %}

{% block custom_style %}
<style>
  @media (min-width: 992px){
    .content {
      padding: 25px;
    }
  }
  .text-muted {
    color: grey !important;
  }
  td{
    font-size: 10pt;
  }
</style>
{% endblock custom_style %}


{% block content %}
<div class="p-5 text-center bg-image rounded-3" style=" background-image: url('{% if gambar_header %}{{gambar_header.url}}{% else %}{% static 'img' %}/bg-5.jpg{% endif %}');background-position:center; background-repeat:no-repeat; background-size:cover; border-radius: 10px; height: 400px">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3 font-weight-bolder" style="font-size: 3rem; font-family: 'Roboto Slab', sans-serif;">SI-APS</h1>
        <a class="btn btn-light btn-lg text-dark font-weight-bolder" style="font-size: 12pt;" href="{% url 'admin:login' %}" role="button">Pengaduan</a>
        <div class="mt-5 d-flex justify-content-center" style="gap: 30px; background-color: #f3f6f9; border-radius: 20px; padding: 20px;">
          <!-- <div class="">
              <img src="{% static 'img/logo_kediri.svg' %}" style="width: 85px;object-fit: cover;" alt="">
          </div> -->
          <div class="">
              <img src="{% static 'img/kediri_berbudaya.png' %}" style="width: 200px;object-fit: cover;" alt="">
          </div>
          <div class="">
              <img src="{% static 'img/Masbup.png' %}" style="width: 100px;object-fit: cover;" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
      <h3 class="card-title m-0 p-1">
        Sistem Informasi Anak Putus Sekolah Bagi Masyarakat yang Membutuhkan Pendidikan
      </h3>
    </div>
    <div class="card-body">
      {{isi|safe}}
    </div>
</div>
{% comment %}
<div class="card mt-3">
    <div class="card-header">
      <h3 class="card-title">
        Jadwal GNOTA
      </h3>
      <h5 class="card-subtitle mb-2 text-muted">Berikut adalah jadwal terkait pendaftaran GNOTA</h5>
    </div>
</div>
<div class="d-flex flex-wrap">
  <div class="col-md-6 p-0 pr-1">
    <div class="card mt-3">
      <div class="card-header bg-danger">
        <h3 class="card-title m-0 text-white">
          Jadwal Pendaftaran
        </h3>
      </div>
      <div class="card-body p-1">
        <table class="table">
          <thead>
          <tr>
            <th>Jadwal</th>
            <th>Waktu</th>
          </tr>
        </thead>
        <tbody>
          {% if pendaftaran %}
          {% for jadwal in pendaftaran %}
          <tr>
            <td style="width: 320px;">{{jadwal.isi_jadwal}}</td>
            <td>{{jadwal.waktu_mulai|date:'d F Y'}}{% if jadwal.waktu_selesai and jadwal.waktu_selesai != jadwal.waktu_mulai %} - {{jadwal.waktu_selesai|date:'d F Y'}}{% endif %}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2" style="text-align: center;">Belum Ada Jadwal Pendaftaran Tersedia</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 pl-1">
    <div class="card mt-3">
      <div class="card-header bg-danger">
        <h3 class="card-title m-0 text-white">
          Jadwal Verifikasi Data
        </h3>
      </div>
      <div class="card-body p-1">
        <table class="table">
          <thead>
          <tr>
            <th>Jadwal</th>
            <th>Waktu</th>
          </tr>
        </thead>
        <tbody>
          {% if verifikasi %}
          {% for jadwal in verifikasi %}
          <tr>
            <td style="width: 320px;">{{jadwal.isi_jadwal}}</td>
            <td>{{jadwal.waktu_mulai|date:'d F Y'}}{% if jadwal.waktu_selesai and jadwal.waktu_selesai != jadwal.waktu_mulai %} - {{jadwal.waktu_selesai|date:'d F Y'}}{% endif %}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2" style="text-align: center;">Belum Ada Jadwal Verifikasi Data Tersedia</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 pr-1">
    <div class="card mt-3">
      <div class="card-header bg-danger">
        <h3 class="card-title m-0 text-white">
          Pengumuman
        </h3>
      </div>
      <div class="card-body p-1">
        <table class="table">
          <thead>
          <tr>
            <th>Jadwal</th>
            <th>Waktu</th>
          </tr>
        </thead>
        <tbody>
          {% if pengumuman %}
          {% for jadwal in pengumuman %}
          <tr>
            <td style="width: 320px;">{{jadwal.isi_jadwal}}</td>
            <td>{{jadwal.waktu_mulai|date:'d F Y'}}{% if jadwal.waktu_selesai and jadwal.waktu_selesai != jadwal.waktu_mulai %} - {{jadwal.waktu_selesai|date:'d F Y'}}{% endif %}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2" style="text-align: center;">Belum Ada Pengumuman Tersedia</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 pl-1">
    <div class="card mt-3">
      <div class="card-header bg-danger">
        <h3 class="card-title m-0 text-white">
          Jadwal Pelayanan
        </h3>
      </div>
      <div class="card-body p-1">
        <table class="table">
          <thead>
          <tr>
            <th>Jadwal</th>
            <th>Waktu</th>
          </tr>
        </thead>
        <tbody>
          {% if jam_pelayanan %}
          {% for jam in jam_pelayanan %}
          <tr>
            <td style="width: 320px;">{{jam.get_hari}}</td>
            <td>{{jam.get_jam}}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="2" style="text-align: center;">Belum Ada Jadwal Pelayanan Tersedia</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 pr-1">
    <div class="card mt-3">
      <div class="card-header">
        <h3 class="card-title">
          Alur GNOTA
        </h3>
    <h6 class="card-subtitle text-muted">berikut adalah alur singkat terkait pendaftaran GNOTA</h6>
      </div>
      <div class="card-body p-2">
        <div class="timeline timeline-4">
          <div class="timeline-bar"></div>
          <div class="timeline-items">
              <div class="timeline-item timeline-item-left">
                  <div class="timeline-badge">
                      <div class="bg-danger"></div>
                  </div>
      
                  <div class="timeline-label">
                      <span class="text-dark font-weight-bold">Pendaftaran</span>
                  </div>
      
                  <div class="timeline-content">
                    Pendaftaran mandiri dapat dilakukan melalui web ini pada halaman pendaftaran
                  </div>
              </div>
              <div class="timeline-item timeline-item-right">
                  <div class="timeline-badge">
                      <div class="bg-success"></div>
                  </div>
                  <div class="timeline-label text-dark">
                      <span class="text-dark font-weight-bold">Verifikasi</span>
                  </div>
                  <div class="timeline-content">
                    Petugas akan memverifikasi data pendaftar yang akan mengikuti seleksi
                  </div>
              </div>
              <div class="timeline-item timeline-item-left">
                  <div class="timeline-badge">
                      <div class="bg-danger"></div>
                  </div>
      
                  <div class="timeline-label">
                      <span class="text-dark font-weight-bold">Seleksi</span>
                  </div>
      
                  <div class="timeline-content">
                    Tim GNOTA akan mekakukan seleksi dan survey kepada data yang lolos verifikasi
                  </div>
              </div>
              <div class="timeline-item timeline-item-right">
                <div class="timeline-badge">
                    <div class="bg-success"></div>
                </div>
                <div class="timeline-label text-dark">
                    <span class="text-dark font-weight-bold">Pengumuman</span>
                </div>
                <div class="timeline-content">
                  Data peserta yang berhasil lolos survey, akan di umumkan melalui website ini
                </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-0 pl-1">
    <div class="card mt-3">
      <div class="card-header">
        <h3 class="card-title">
          Program Pendaftaran
        </h3>
    <h6 class="card-subtitle text-muted">berikut adalah program pendaftaran yang tersedia:</h6>
      </div>
      <div class="card-body p-2">
        <table class="table table-hover" >
          {% for i in list_penjadwalan %}
          <tr>
            <td>{{i.jenjang.nama_jenjang}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      </div>
      {% if beranda %}
      <div class="d-flex justify-content-end">
        <div class="col-md-8 mt-3 p-0">
          <div class="card">
            <div class="card-header p-5">
              <h6 class="card-title m-0" style="text-align: right;">
                Alamat Kantor GNOTA
              </h6>
            </div>
            <div class="card-body p-5">
              <p style="text-align: right; font-size: 11pt; margin: unset;">Jl. Letjend Suprapto no.42, Burengan,<br>Kec. Pesantren, Kota Kediri 64131<br>Telp: 0877 5899 8098<br><a href="https://www.instagram.com/gnotakabkediri/"><i class="fab fa-instagram"></i> gnotakabkediri</a></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
  </div>
</div> {% endcomment %}
{% endblock content %}