{% extends 'frontend/base_site_frontend.html' %}
{% load widgets static %}

{% block custom_style %}
{{ block.super }}
<style>
    .fb-profile{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 10px;
    }
    .fb-profile img.fb-image-lg{
        z-index: 0;
        width: 100%;  
        height: 250px;
        object-fit: cover;
        margin-bottom: 10px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    .fb-image-profile
    {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        width: 150px; 
        height: 150px;
        border-radius: 50%;
        object-fit: cover; 
        background-color: white;
    }
    hr{
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    @media (max-width:768px)
    {
        
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }
    
    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
    }
    .nav.nav-pills .nav-link.active, .nav.nav-pills .show > .nav-link{
        background-color: #3a567c;
    }
</style>
{% endblock custom_style %}

{% block content %}
<div class="card" id="card-profil">
    <div class="card-header">
        <h2 class="card-title m-0 p-1" style="text-align: center;">
            Profil Sekolah
        </h2>
    </div>
    <div class="card-body py-0">
        <div class="d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-4">
                <select class="form-control" name="sekolah" id="id_sekolah"></select>
            </div>
        </div>
        <div class="profile-page mt-5" id="profile_page">
            <div class="fb-profile">
                <img align="left" class="fb-image-lg" id="header_sekolah" src="{% static 'img' %}/bg-5.jpg" alt="Profile image example"/>
                <img align="left" class="fb-image-profile thumbnail" id="profil" src="{% static 'img' %}/bg-5.jpg" alt="Profile image example"/>
                <div class="fb-profile-text">
                    <h1 id="nama_sekolah">Nama Sekolah</h1>
                    <p id="kode_sekolah">Kode sekolah</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="form-group m-0">
                                    <label for="exampleFormControlInput1">Kepala Sekolah: </label>
                                    <br>
                                    <span id="kepala_sekolah">-</span>
                                </div>
                                <hr>
                                <div class="form-group m-0">
                                    <label for="exampleFormControlInput1">Operator Sekolah: </label>
                                    <br>
                                    <span id="operator_sekolah">-</span>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-center">
                                    <a href="http://" id="no_hp" target="_blank" rel="noopener noreferrer"> <i class="fab fa-whatsapp fa-2x" style="color: #00ff11;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-3">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Profil</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Data Siswa</a>
                                    </li>
                                  </ul>
                            </div>
                            <div class="card-body">
                                  <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                {% for item in field %}
                                                <tr>
                                                    <td>{{item|replace:"_| "|title}}</td>
                                                    <td>:</td>
                                                    <td><span id="{{item}}">-</span></td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Alamat</th>
                                                        <!-- <th>Tempat, Tanggal lahir</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody id="data_anak" >
                                                    <tr>
                                                        <td colspan="3" style="text-align: center;">Tidak ada Data</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="pt-2 d-flex justify-content-between">
                                            <button type="button" class="btn btn-sm btn-secondary font-weight-bolder" id="sebelumnya"><i class="fas fa-arrow-left"></i> Sebelumnya</button>
                                            <button type="button" class="btn btn-sm btn-secondary font-weight-bolder" id="selanjutnya">Selanjutnya <i class="fas fa-arrow-right"></i></button>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script>
    const get_data_sekolah = (sekolah=null, url=null) =>{
            var default_url = "/api/pengaduan/list-pengaduan"
            $("#selanjutnya").prop('disabled',true)
            $("#sebelumnya").prop('disabled',true)
            var data = {
                sekolah:sekolah
              }
            if(url){
              default_url = url
              data = null
            }
              $.ajax({
                url:default_url,
                method:'GET',
                data:data,
                beforeSend:function(){
                  Swal.fire({
                    title: 'Alert',
                    text: 'Proses Ambil Data, Harap tunggu',
                    showConfirmButton: false,
                    allowEscapeKey : false,
                    allowOutsideClick: false,
                    didOpen: () => {
                      Swal.showLoading()
                    },
                  })
                },
                success:function(respon){
                  Swal.close()
                  count = 2
                  var index = 0
                  get_page = new window.URLSearchParams(default_url)
                  if(get_page.get('page')){
                    index = (parseInt(get_page.get('page')) - 1) * count
                  }
                  if(respon.count > 0){
                    if(respon.next){
                      $("#selanjutnya").prop('disabled',false)
                      $("#selanjutnya").attr('onClick',`get_data_sekolah(null,'${respon.next}')`)
                    }
                    if(respon.previous){
                      $("#sebelumnya").prop('disabled',false)
                      $("#sebelumnya").attr('onClick',`get_data_sekolah(null,'${respon.previous}')`)
                    }
                    var html;
                    respon.results.map((value, idx) => {
                      html += `
                        <tr>
                          <td>${idx+1+index}</td>
                          <td><nobr>${value.nama}</nobr></td>
                          <td>${value.alamat}</td>
                          </tr>
                          `
                    })
                    $("#data_anak").html(html)
                  }else{
                    html = `
                    <tr>
                      <td colspan='4' style='text-align:center'>Tidak ada data Siswa di Sekolah ini</td>  
                      </tr>
                      `
                    $("#data_anak").html(html)
                  }
                }
              })
            
    }
    const formatResult = (result) => {
        if (result.loading) return result.text;
        if(result.profil){
            profil = `<img src="${result.profil}" class="symbol-label" style="object-fit: cover;" alt="">`
        }else{
            profil = `<span class="symbol-label font-size-h1 font-weight-bold text-uppercase">${result.text.charAt(0).toUpperCase()}</span>`
        }
        let html = `<options value="${result.id}">
                        <div class="d-flex align-items-center">

                            <div class="symbol symbol-light-success symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                ${profil}
                            </div>
                            <div>
                                <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">${result.kode_sekolah}</a>
                                <div class="text-muted data-nama_lengkap">${result.text}</div>
                            </div>
                        </div>
                    </options>`;
        //return html;
        return $(html);
    };
    $("#id_sekolah").select2({
        width: 'resolve',
        placeholder: `Cari Sekolah`,
        delay: 250,
        ajax: {
            url: '{% url 'admin:master_sekolah_json' %}',
            data: function (params) {
              var query = {
                q: params.term,
              }
        
              // Query parameters will be ?search=[term]&type=public
              return query;
            },
            processResults: function(data){
                console.log(data)
                return {
                    results: data.data
                }
            },
        },
        minimumInputLength: 3,
        templateResult: formatResult,
        minimumResultsForSearch: 20,
    })
    $('#id_sekolah').on('select2:select', function (e) {
        var data = e.params.data;
        let card_profil = new KTCard('card-profil');
        $.ajax({
            url:"{% url 'admin:master_sekolah_json_frontend' %}",
            data:{
                pk:data.id
            },
            beforeSend:function(){
                KTApp.block(card_profil.getSelf(), {
                    overlayColor: '#ffffff',
                    type: 'loader',
                    state: 'primary',
                    opacity: 0.3,
                    size: 'lg'
                });
            },
            success:function(res){
                if(Object.keys(res).length){
                    $("#profile_page").show()
                    $("#profil").attr('src',res.foto_sekolah)
                    $("#no_hp").attr('href',res.nomor_hp)
                    $("#header_sekolah").attr('src',res.background_header)
                    $("#nama_sekolah").html(res.nama_sekolah)
                    $("#kode_sekolah").html(res.kode_sekolah)
                    $("#kepala_sekolah").html(res.kepala_sekolah)
                    $("#operator_sekolah").html(res.operator_sekolah)
                    Object.keys(res.profile).map((item)=>{
                        $("#"+item).html(res.profile[item])
                    });
                    get_data_sekolah(data.id, null)
                }else{
                    $("#profile_page").hide()
                }
            },
            complete: function(){
                setTimeout(KTApp.unblock(card_profil.getSelf()), 1000);
            }
        })
    });
    $(function(){
        $("#profile_page").hide()
    })
</script>

{% endblock custom_js %}