{% extends 'frontend/base_site_frontend.html' %}
{% load widgets %}

{% block custom_style %}
{{ block.super }}
<style>
    .field-hidden {
        display: none;
    }
    .legend{
		background-color: rgb(70, 69, 69);
	    font-size: 13pt;
	    padding-left: 10px;
	    font-weight: bold;
	    margin-top: 10px;
	    margin-bottom: 10px;
		color: white;
	}
</style>
{% endblock custom_style %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div
    class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% elif message.tags == 'success' %}success{% else %}info{% endif %} alert-dismissible {% if beranda %}mt-15{% endif %}">
    {% if message.tags == 'error' %}
    <h5><i class="icon fas fa-ban"></i> Error!</h5>
    {% elif message.tags == 'warning' %}
    <h5><i class="icon fas fa-exclamation-triangle"></i> Peringatan!</h5>
    {% elif message.tags == 'success' %}
    <h5><i class="icon fas fa-check"></i> Success!</h5>
    {% else %}
    <h5><i class="icon fas fa-info"></i> Info!</h5>
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endblock messages %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title m-0 p-1" style="text-align: center;">
            Register
        </h2>
    </div>
    <form action="" method="post">
        <div class="card-body">
            {% csrf_token %}
            <div class="row">
                {% for field in forms %}
                <div class="col-md-6{% if field.is_hidden %} field-hidden{% endif %}">
                    <div class="mb-3">
                        {% if field|is_bool %}
                        {{field}}
                        <label for="{{field.auto_id}}" class="form-label {% if field.field.required %}required{% endif %}">{{ field.label }}</label>
                        {% elif field|is_select %}
                        <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{field.label }}</label>
                        {{ field|addcls:"form-control" }}
                        {% elif field|is_hidden %}
                        {{ field }}
                        {% else %}
                        <label for="{{field.id}}" class="form-label {% if field.field.required %}required{% endif %}">{{field.label }}</label>
                        {{ field|addcls:'form-control' }}
                        {% endif %}
                        {% if field.field.help_text %}
                        <div id="{{field.id}}" style="font-weight: bolder;" class="form-text">{{field.field.help_text}}
                        </div>
                        {% endif %}
                        {% if field.errors %}
                        <p style=" color: red; background-color: #fadbd8;">{{field.errors|striptags}}</p>
                        {% endif %}
                    </div>
                </div>
                {% if field.name == "nomor_hp" %}
                </div>
                <h2 class="legend">
                    Alamat
                </h2>
                <div class="row">
                {% endif %}
                {% if field.name == "alamat" %}
                </div>
                <hr>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
</div>
<div class="card-footer">
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Register</button>
    </div>
</div>
</form>
</div>
{% endblock content %}

{% block custom_js %}
{{ block.super }}
<script>
    const getKecamatan = () => {
        $.ajax({
            url: `{% url 'admin:master_kecamatan_json' %}`,
            type: "GET",
            success: function (respon) {
                html = `<option readonly value="">Pilih Kecamatan</option>`
                for (i = 0; i < respon.data.length; i++) {
                    html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
                }
                $("#id_kecamatan").html(html).prop("disabled", false).select2({
                    width: 'resolve'
                })
            }
        })
    }
    const getDesa = (elemen) => {
        kecamatan_kode = elemen.val()
        $.ajax({
            url: `{% url 'admin:master_desa_json' %}?kode_kecamatan=${kecamatan_kode}`,
            type: "GET",
            success: function (respon) {
                if (respon.success) {
                    html = `<option readonly value="">Pilih Desa</option>`
                    for (i = 0; i < respon.data.length; i++) {
                        html += `<option value="${respon.data[i].id}">${respon.data[i].text}</option>`
                    }
                    $("#id_desa").html(html).prop("disabled", false).select2({
                        width: 'resolve'
                    })
                } else {
                    console.log(respon.pesan)
                }
            }
        })
    }
    $(function () {
        getKecamatan()
    })
</script>
{% endblock custom_js %}