{% extends 'admin/change_list.html' %}

{% comment %} {% block search %}{% endblock %} {% endcomment %}
{% block filters %}{% endblock filters %}

{% comment %} {% block extra-tools %}
<form method="GET">
	<div class="card mb-3">
		<div class="card-body p-3">
			<div class="row">
				<div class="col-md-12 mb-3">
					<input type="text" name="q" class="form-control" placeholder="Cari" value="{{ request.GET.q }}">
				</div>
				<div class="col-md-12 i-select-filter">
					{% with filter_spec=cl.filter_specs.0 %}
					{% include "admin/includes/filters.html" %}
					{% endwith %}
				</div>
			</div>
		</div>
		<div class="card-footer p-3 text-right">
			<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-search mr-2"></i>Saring</button>
		</div>
	</div>
</form>
{% endblock %} {% endcomment %}